/*Reset*/
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style: none;
}

#container{
	height: 100vh;
	background-color: white;
	position: relative;
	overflow: hidden;
	width: 100%;
}

#container .button{
	display: none;
}


/*Navbar*/
#navigation{
	background-color: #11101d;
	display: flex;
	padding-top: .5rem;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	box-sizing: border-box;
	color: white;
	width: 73px;
	transition: all 1s ease;
	overflow-x: hidden;
	float: left;
	opacity: 1;
}

#navigation.active{
	width: 192px;
}

#navigation ul{
	display: flex;
	flex-direction: column;
}


#navigation .logo{
	display: flex;
	padding-left: 1.1em;
	padding-top: 7px;
	height: 50px;
	opacity: 0;
	align-items: flex-start;
	margin-bottom: .5rem;
	box-sizing: border-box;
}

#navigation.active .logo{
	opacity: 1;
	transition :.3s;
	transition-delay: .3s;
}

#navigation ul .btn{
	display: flex;
	position: absolute;
	align-items: center;
	font-size: 2rem;
	left: 100%;
	top: .5rem;
	height: 50px;
	transform: translateX(-165%);
	cursor: pointer;
}

#navigation ul .nav-btn{
	display: flex;
	position: relative;
	font-size: 1.2rem;
	padding: .8em 0;
	margin-bottom: 1rem;
	box-sizing: border-box;
	justify-content: left;
	align-content: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.location{
	background-color: white;
	color: black;
	cursor: pointer;
	transform: translateX(10%);
	text-align: center;
}

#navigation ul .nav-btn:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	transform: translateX(10%);
	text-align: center;
	transition: .2s;
}

#navigation ul .nav-btn .iconp{
	position: absolute;
	background-color: red;
	padding: 1em;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0;
}

#navigation ul .nav-btn .icon{
   /*background-color: black;*/
   font-size: 1.5rem;
   line-height: 115%;
   padding: 0 1em;
   margin-right: .2rem;
}

#navigation ul li .pmenu{
	opacity: 0;
}

#navigation.active ul li .pmenu{
	opacity: 1;
}


/*Profile*/

#navigation .profile{
	display: flex;
	width: 73px;
	text-align: left;
	align-items: center;
	font-size: 1.2rem;
	transition: all 1s ease;
	position: absolute;
	bottom: 0;
}

#navigation.active .profile{
	width: 192px;
}

#navigation .profile .border{
	width: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#navigation .profile .border:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	transform: translateX(10%);
	text-align: center;
	transition: .2s;
}

#navigation .profile .border a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
}

#navigation .profile .border a:hover{
	color: black;
}

#navigation .profile .border .icon{
   font-size: 1.9rem;
   line-height: 115%;
   padding: .38em .7em;
   margin-right: .2rem;
}

#navigation .profile .border .profile_name{
	opacity: 0;
	pointer-events: none;
	transition: .1s;
}

#navigation.active .profile .border .profile_name{
	opacity: 1;
}

/*End Navbar*/


/*Page*/

#page .pages{
	height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
	position: relative;
}

#page .pages.none{
	display: none;
}

#page-load{
	display: none;
	/*background-color: red;*/
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

#page-load.none-load{
	display: flex;
}

.icon-load{
	display: block;
	width: 30px;
	height: 30px;
	border: 5px solid black;
	border-radius: 50%;
	border-left-color: white;
	animation: rotate 1.5s infinite linear;
	/*background-color: green;*/
}

.text-load{
	font-size: 1.5rem;
	/*background-color: red;*/
	margin-top: 1rem;
	transform: translateX(8px);
}

/*Page 2*/

#page2 .project-border{
	display: grid;
	/*background-color: green;*/
	box-sizing: border-box;
	padding: 2em;
	grid-template-columns: repeat(auto-fit, minmax(17em, .5fr));
	gap: 2rem;
	justify-content: center;
}

#page2 .project-border .project-menu{
	height: 20em;
	background-color: skyblue;
	border-radius: 10px;
}

/*animation*/

@keyframes rotate{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(360deg);
	}
}

/*Responsive */ /*phone*/

@media only screen and (max-width: 600px){

	#navigation{
		width: 192px;
		transform: translateX(-100%);
		position: absolute;
		transition: all 1s ease;
		height: 100vh;
		z-index: 1;
		padding-top: .5rem;
	}

	#navigation.on{
		transform: translateX(0%);
	}

	#navigation ul .btn{
		display: none;
	}

	#container .button{
		display: grid;
		position: absolute;
		place-items: center;
		font-size: 2.2rem;
		height: 50px;
		top: .5rem;
		left: 15px;
		z-index: 2;
		transition: .2s;
		/*background-color: red;*/
	}

	#container .button.button-off{
		opacity: 0;
		pointer-events: none;
	}

	#container .button.button-on{
		color: white;
	}

	#navigation.on .logo{
		opacity: 1;
		transition :.3s;
		/*background-color: green;*/
		justify-content: flex-end;
		padding-right: 2rem;
		padding-top: 11px;
		align-items: flex-start;
		line-height: 100%;
		box-sizing: border-box;
	}

	#navigation ul{
		justify-content: flex-end;	
		/*background-color: green;*/
	}

	#navigation ul .nav-btn{
		margin-bottom: 1rem;
	}

	#navigation.on ul li .pmenu{
		opacity: 1;
	}

	#navigation ul .nav-btn .icon{
		opacity: 0;
		transition :.1s;
	}

	#navigation.on ul .nav-btn .icon{
		opacity: 1;
	}

	#navigation .profile{
		display: none;
	}
}