/*Reset*/
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style: none;
}

#container{
	height: 100vh;
	background-color: white;
	position: relative;
	overflow: hidden;
	width: 100%;
}

#container .button{
	display: none;
}

/*Navbar*/
#navigation{
	background-color: #0d0d0d;
	display: flex;
	padding: .5em;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	box-sizing: border-box;
	color: white;
	width: 73px;
	transition: all 1s ease;
	overflow-x: hidden;
	float: left;
	opacity: 1;
}

#navigation.active{
	width: 192px;
}

#navigation ul{
	display: flex;
	flex-direction: column;
}


#navigation .logo{
	display: flex;
	padding-left: .8em;
	padding-top: 7px;
	height: 50px;
	opacity: 0;
	align-items: flex-start;
	margin-bottom: .5rem;
	box-sizing: border-box;
}

#navigation.active .logo{
	opacity: 1;
	transition :.3s;
	transition-delay: .3s;
}

#navigation ul .btn{
	display: flex;
	position: absolute;
	align-items: center;
	font-size: 2rem;
	left: 100%;
	top: .5rem;
	height: 50px;
	transform: translateX(-165%);
	cursor: pointer;
}

#navigation ul .nav-btn{
	display: flex;
	position: relative;
	font-size: 1.2rem;
	padding: .7em .87em;
	margin-bottom: 1rem;
	box-sizing: border-box;
	justify-content: left;
	align-content: center;
	border-radius: 10px;
}

.location{
	background-color: white;
	color: black;
	cursor: pointer;
	text-align: center;
}

#navigation ul .nav-btn:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	text-align: center;
}

#navigation ul .nav-btn .iconp{
	position: absolute;
	background-color: red;
	padding: 1em;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0;
}

#navigation ul .nav-btn .icon{
   /*background-color: black;*/
   font-size: 1.5rem;
   line-height: 115%;
   margin-right: 1rem;
}

#navigation ul li .pmenu{
	opacity: 0;
}

#navigation.active ul li .pmenu{
	opacity: 1;
}


/*Profile*/

#navigation .profile{
	display: flex;
	width: 73px;
	text-align: left;
	align-items: center;
	font-size: 1.2rem;
	transition: all 1s ease;
	position: absolute;
	bottom: .3em;
}

#navigation.active .profile{
	width: 192px;
}

#navigation .profile .border{
	border-radius: 10px;
}

#navigation .profile .border:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	text-align: center;
}

#navigation .profile .border a{
	display: flex;
	justify-content: left;
	padding: .56em .7em;
	border-radius: 10px;
	text-decoration: none;
	color: white;
}

#navigation .profile .border a:hover{
	color: black;
}

#navigation .profile .border .icon{
   font-size: 1.9rem;
   line-height: 115%;
}

#navigation .profile .border .profile_name{
	opacity: 0;
	pointer-events: none;
	transition: .1s;
}

#navigation.active .profile .border .profile_name{
	opacity: 1;
}

/*End Navbar*/


/*Page*/

#page .pages{
	height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
	position: relative;
	background-color: #1a1a1a;
	padding: 1em;
	overflow-x: hidden;
}

#page .pages.none{
	display: none;
}

#page-load{
	display: none;
	/*background-color: red;*/
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	background-color: #1a1a1a;
}

#page-load.none-load{
	display: flex;
}

.icon-load{
	display: block;
	width: 30px;
	height: 30px;
	border: 5px solid white;
	border-radius: 50%;
	border-left-color: #1a1a1a;
	animation: rotate 1.5s infinite linear;
	color: white;
	/*background-color: green;*/
}

.text-load{
	font-size: 1.5rem;
	/*background-color: red;*/
	margin-top: 1rem;
	transform: translateX(8px);
	color: white;
}

#page .pages .judul{
	display: flex;
	padding: .2em 1.2em;
	text-align: left;
	text-transform: uppercase;
	background-color: #262626;
	color: white;
	border-radius: 10px;
	align-items: center;
	box-sizing: border-box;
}

#page .pages .judul i{
	/*background-color: red;*/
	line-height: 150%;
	margin-right: 1rem;
	color: white;
	display: block;
}

#page #page1{
	padding: 0;
	color: white;
}

#page #page1 #header .head-img .home-judul{
	background-color: rgba(0, 0, 0, .5);
	padding: .5em;
	width: 350px;
	font-size: 4rem;
}

#page #page1 #header{
	box-sizing: border-box;
	position: relative;
}

#page #page1 #header .head-img{
	display: flex;
	align-items: center;
	background-image: url(img/heading-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position:0 -60px;*/
	padding: 0 5em;
	position: relative;
	box-sizing: border-box;
	color: white;
	width: 100%;
	height: 100vh;
}

#page #page1 #main .home-tool{
	padding: .5em;
	background-color: #262626;
	margin: 1.3rem auto;
	width: 95%;
	border-radius: 15px;
}

#page #page1 #main ul .home-list{
	display: flex;
	position: relative;
	justify-content: right;
	align-items: center;
	width: 95%;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
	margin-bottom: 1.5rem;
}

#page #page1 #main ul .home-list:nth-child(1){
	width: 100%;
	padding-right: 5em;
	background-image: linear-gradient(to right, rgba(255, 51, 0, 1), rgba(255, 51, 0, .9), #1a1a1a, #1a1a1a);
}

#page #page1 #main ul .home-list:nth-child(2){
	width: 100%;
	justify-content: left;
	padding-left: 8em;
	background-image: linear-gradient(to left, rgba(0, 102, 255, 1), rgba(0, 102, 255, .9), #1a1a1a, #1a1a1a);
}

#page #page1 #main ul .home-list:nth-child(3){
	width: 100%;
	padding-right: 5em;
	background-image: linear-gradient(to right, rgba(255, 255, 0, 1), rgba(255, 255, 0, .9), #1a1a1a, #1a1a1a);
}


#page #page1 #main ul .home-list .lag-img{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	position: relative;
	width: 40%;
	height: 200px;
	background-color: #262626;
	padding: 1em;
	padding-left: 5em;
	box-sizing: border-box;
}

#page #page1 #main ul .home-list .lag-img.shadow-orange{
	box-shadow: 8px 8px #ff3300;
}

#page #page1 #main ul .home-list .lag-img.shadow-blue{
	box-shadow: 8px 8px #0066ff;
}

#page #page1 #main ul .home-list .lag-img.shadow-yellow{
	box-shadow: 8px 8px #ffff00;
}

#page #page1 #main ul .home-list .lag-img .list-judul{
	padding-bottom: .5em;
}

#page #page1 #main ul .home-list .lag-img img{
	display: block;
	position: absolute;
	left: -15%;
	top: 15%;
	max-width: 141px;
}


/*Page 2 n 3*/

.pages-grid .project-border{
	display: grid;
	box-sizing: border-box;
	padding: 1em 0;
	grid-template-columns: repeat(auto-fit, minmax(12em, .5fr));
	gap: 1rem;
	justify-content: center;
}


.pages-grid .project-border .project-menu{
	display: flex;
	flex-direction: column;
	height: 13em;
	background-color: #262626;
	border-radius: 10px;
	box-sizing: border-box;
}

.pages-grid .project-border .project-menu .image-border{
	height: 70%;
	box-sizing: border-box;
	padding: .5em .5em 0;
}

.pages-grid .project-border .project-menu .image-border .image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.pages-grid .project-border .project-menu .text-border{
	display: flex;
	flex-direction: column;
	height: 30%;
	padding: 0 .8em;
	box-sizing: border-box;
}

.pages-grid .project-border .project-menu .text-border .source-items .source{
	display: flex;
	background-color: #ffad33;
	text-decoration: none;
	width: 30px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: .7rem;
	height: 95%;
	margin-right: .3rem;
	color: black;
}

.pages-grid .project-border .project-menu .text-border .source-items{
	display: flex;
	margin-top: .4rem;
}

.pages-grid .project-border .project-menu .text-border .source-items .feature-tag{
	display: flex;
	background-color: #df80ff;
	color: black;
	text-decoration: none;
	width: 50px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	font-size: .7rem;
	height: 95%;
	pointer-events: none;
}

.pages-grid .project-border .project-menu .text-border .text-judul{
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
	padding-top: .3rem;
}

.pages-grid .project-border .project-menu .text-border .text-description{
	font-size: .9rem;
}

/*animation*/

@keyframes rotate{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(360deg);
	}
}

/*Responsive  /*phone*/

@media only screen and (max-width: 600px){

	#navigation{
		width: 192px;
		transform: translateX(-100%);
		position: absolute;
		transition: all 1s ease;
		height: 100vh;
		z-index: 1;
		padding-top: .5rem;
	}

	#navigation.on{
		transform: translateX(0%);
	}

	#navigation ul .btn{
		display: none;
	}

	#container .button{
		display: grid;
		position: absolute;
		place-items: center;
		font-size: 2.2rem;
		height: 50px;
		top: .5rem;
		left: 15px;
		z-index: 2;
		transition: .2s;
		color: white;
		/*background-color: red;*/
	}

	#container .button.button-off{
		opacity: 0;
		pointer-events: none;
	}

	#container .button.button-on{
		color: white;
	}

	#navigation .logo{
		opacity: 0;
		pointer-events: none;
	}

	#navigation.on .logo{
		opacity: 1;
		transition :.3s;
		/*background-color: green;*/
		justify-content: flex-end;
		padding-right: 2rem;
		padding-top: 11.5px;
		align-items: flex-start;
		line-height: 100%;
		box-sizing: border-box;
	}

	#navigation ul{
		justify-content: flex-end;	
		/*background-color: green;*/
	}

	#navigation ul .nav-btn{
		margin-bottom: 1rem;
	}

	#navigation.on ul li .pmenu{
		opacity: 1;
	}

	#navigation ul .nav-btn .icon{
		opacity: 0;
		transition :.1s;
	}

	#navigation.on ul .nav-btn .icon{
		opacity: 1;
	}

	#navigation .profile .border .icon{
		opacity: 0;
		transition: .1s;
		pointer-events: none;
		margin-right: 1rem;
		align-self: center;
	}

	#navigation.on .profile .border .icon{
		opacity: 1;
	}

	#navigation .profile .border .profile_name{
		opacity: 0;
		align-self: center;
		pointer-events: none;
		transition: .1s;
	}

	#navigation.on .profile .border .profile_name{
		opacity: 1;
	}

	#page .pages{
		padding: .65em .5em;
	}

	#page .pages .judul{
		padding-left: 2em;
	}

	#page .pages .judul i{
		display: none;
	}


	/*home page*/
	#page #page1 #header .head-img{
		padding: 0;
		background-position: -400px 0px;
		align-items: flex-start;
	}

	#page #page1 #header .head-img .home-judul{
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, .5);
		padding: .5em;
		width: 100%;
		font-size: 4rem;
		height: 70vh;
	}

	#page #page1 #main ul .home-list .lag-img{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		text-align: center;
		width: 95%;
		height: 225px;
		background-color: #262626;
		padding: 1.1em;
		box-sizing: border-box;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#page #page1 #main ul .home-list .lag-img img{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		max-width: 50px;
	}

	#page #page1 #main ul .home-list:nth-child(1){
		width: 100%;
		padding: 0;
		justify-content: center;
		background-image: linear-gradient(to right, rgba(255, 51, 0, 0), rgba(255, 51, 0, 0), #1a1a1a, #1a1a1a);
	}

	#page #page1 #main ul .home-list:nth-child(2){
		width: 100%;
		padding: 0;
		justify-content: center;
		background-image: linear-gradient(to left, rgba(0, 102, 255, 0), rgba(0, 102, 255, 0), #1a1a1a, #1a1a1a);
	}

	#page #page1 #main ul .home-list:nth-child(3){
		width: 100%;
		padding: 0;
		justify-content: center;
		background-image: linear-gradient(to right, rgba(255, 255, 0, 0), rgba(255, 255, 0, 0), #1a1a1a, #1a1a1a);
	}

	#page #page1 #main ul .home-list .lag-img.shadow-orange{
		box-shadow: 0px 8px #ff3300;
	}

	#page #page1 #main ul .home-list .lag-img.shadow-blue{
		box-shadow: 0px 8px #0066ff;
	}

	#page #page1 #main ul .home-list .lag-img.shadow-yellow{
		box-shadow: 0px 8px #ffff00;
	}

	#page #page1 #main ul .home-list .lag-img .list-judul{
		padding-bottom: .5em;
	}

	#page #page1 #main .home-tool{
		padding: .5em;
		background-color: #262626;
		margin: 1.3rem auto;
		width: 87%;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 1110px) and (min-width: 600px){
	#page #page1 #main ul .home-list .lag-img{
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		position: relative;
		width: 90%;
		height: 200px;
		background-color: #262626;
		padding: 1em;
		padding-left: 5em;
		box-sizing: border-box;
	}

	#page #page1 #main ul .home-list .lag-img img{
		display: block;
		position: absolute;
		left: -13%;
		top: 15%;
		max-width: 141px;
	}
}
